@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,800;1,700&family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(10, 10, 10);

}

html {
  scroll-behavior: smooth;
}

.gradient {
  background: -webkit-linear-gradient(#b006ff, #2aa6e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  height: 100vh;
  background-color: #000000;
  opacity: 0.9;
  background-image: radial-gradient(#12b 1.05px, transparent 1.05px), radial-gradient(#12b 1.05px, #000000 1.05px);
  background-size: 42px 42px;
  background-position: 0 0, 21px 21px;
}

.pizza-svg {
  width: 40px;
  overflow: visible;
  stroke: #fff;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
}

h1 {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 64px;
  color: #fff
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px
  }
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #9CA3AF;
}

h4 {
  font-family: 'Quicksand';
  font-size: 24px;
}

.stack span {
  font-family: 'Quicksand';
}

.stack article {
  font-size: 120px;
}

.nav-link::after {
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  transition: width 0.3s ease;

}

.nav-link:hover::after {
  width: 75%;
}

p {
  font-family: 'Inter';
}

.btn1 {
  padding: 10px;
  align-items: center;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  transition: all 400ms ease-in;
  margin-right: 5px;
  font-family: 'Quicksand';
}

.btn2 {
  padding: 10px;
  align-items: center;
  border: 2px solid #2aa6e5;
  background: #2aa6e5;
  border-radius: 5px;
  color: #fff;
  transition: all 400ms ease-out;
  font-family: 'Quicksand';

}

.btn3 {
  padding: 10px;
  align-items: center;
  border: none;
  background: linear-gradient(#b006ff, #2aa6e5);
  border-radius: 5px;
  color: #fff;
  transition: all 400ms ease-out;
  font-family: 'Quicksand';

}

footer {
  background-color: #000000;
}

.footer__options {
  font-family: 'Quicksand';
}

.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  font-family: 'Inter', sans-serif;
}

.portfolio__item {
  background: rgb(15, 15, 15);
  border: 1px solid rgb(34, 34, 34);
  border-radius: 8px;
  padding: 1.1rem;
  max-width: 350px;
  cursor: pointer;
  transition: all 500ms ease;
}

.portfolio__item:hover {
  background: #2aa6e5;
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item h3 {
  font-family: 'Inter', sans-serif;
  margin: 1rem 0 1.5rem;
}

@media screen and (max-width:1024px) {
  .header {
    height: fit-content;
  }
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.details {
  transition: all 500ms
}

.concealed {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}

.show {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}